<!doctype html>
<html lang="en">
    <title>KDS TurnItIn</title>

    <body>
        <header class = "titlepageHeader">
            <h1 class = "titlepageHeaderText">KDS TurnItIn</h1>
        </header>

        <div class = "titlepageSubtitleText">Student and Teacher Sign In</div>

        <table class = "titlepageSignInTable">
            <tr>
                <td>
                    Username
                </td>
                <td class="usernameSignIn">
                    <input type="text" id="username" name="username">
                </td>
            </tr>

            <tr>
                <td>
                    Password
                </td>
                <td class="passwordSignIn">
                    <input type="text" id="password" name="password">
                </td>
            </tr>

        </table>

        <button class="submitInformation">Sign In</button>

    </body>

</html>